.scroll-read {
  max-width: 100%;
  overflow: auto;
}

table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
  cursor: pointer;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.btn-edit {
  padding: 0;
  border: 2px solid #f5a40e;
  color: #f5a40e;
  display: flex;
  justify-content: center;
  padding: 4px;

  &:hover {
      color: #fff;
      background-color: #f5a40e;
  }
}

.btn-delete {
  padding: 0;
  border: 2px solid #c81d25;
  color: #c81d25;
  display: flex;
  justify-content: center;
  padding: 4px;

  &:hover {
      color: #fff;
      background-color: #c81d25;
  }
}