<div class="container-fluid">
  <div class="m-3">
    <mat-form-field class="w-100">
      <mat-label>Pesquisar</mat-label>
      <input matInput (keyup)="applyFilter($event)" #input>
    </mat-form-field>
    <div class="mat-elevation-z2 scroll-read">

      <table *ngIf="!isLoading; else empty" mat-table [dataSource]="dataSource" multiTemplateDataRows matSort>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Nome</th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>


        <!-- Category Column -->
        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef>Categoria</th>
          <td mat-cell *matCellDef="let element">{{ element.category }}</td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef class="text-end"><span style="padding-right: 32px;">Ações</span></th>
          <td mat-cell *matCellDef="let element" class="text-center d-flex justify-content-end align-items-center">
            <button class="btn btn-edit my-2 mx-4" [routerLink]="['update', element.id]">
              <mat-icon>edit</mat-icon>
            </button>
            <button class="btn btn-delete" [routerLink]="['delete', element.id]">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="expandedDetail">
          <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
            <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
              <!-- Presentation Column -->
              <div class="col-12">
                <p class="text-justify">Descrição: {{ element.description }}</p>
              </div>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let element; columns: columnsToDisplay" class="example-element-row"
          [class.example-expanded-row]="expandedElement === element" (click)="
            expandedElement = expandedElement === element ? null : element">
        </tr>

        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      <ng-template #empty>
        <div class="alert alert-primary" role="alert">
          Não há registros!
        </div>
      </ng-template>

    </div>
  </div>
</div>