<div class="container d-flex justify-content-center align-items-center login">
    <mat-card class="mat-elevation-z8">
        <mat-card-header>
            <mat-card-title>
                <img mat-card-image src="assets/img/logordb.png" style="transform: translateZ(5px); " />
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="form">
                <table class="example-full-width" cellspacing="0">
                    <tr>
                        <td>
                            <mat-form-field fxLayoutAlign="center center">
                                <input matInput placeholder="Username" formControlName="username" name="username"
                                    required>
                                <button mat-icon-button matSuffix (click)="hide = !hide"
                                    [attr.aria-label]="'Hide username'" [attr.aria-pressed]="hide">
                                    <mat-icon>account_circle</mat-icon>
                                </button>
                                <mat-error *ngIf="form.controls.username.invalid && form.controls.username.touched">
                                    <span *ngIf="form.controls.username.errors?.required"> Campo obrigatorio</span>
                                </mat-error>
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <mat-form-field>
                                <input matInput [type]="hidePassword ? 'password' : 'text'" placeholder="Password"
                                    type="password" formControlName="password" name="password" required>

                                <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword"
                                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                                <mat-error *ngIf="form.controls.username.invalid && form.controls.username.touched">
                                    <span *ngIf="form.controls.username.errors?.required"> Campo obrigatorio</span>
                                </mat-error>
                            </mat-form-field>
                        </td>
                    </tr>
                </table>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button (click)="login()" color="primary">Entrar</button>
        </mat-card-actions>
    </mat-card>
</div>