.home {
  background-color: #03bb85;
}

.home .title {
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.2;
}

.home .subtitle {
  font-size: 1.1rem;
}

/* p {
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 4;
}

.sub {
  margin-top: 1rem;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  color: #fff;
  font-family: "Roboto", sans-serif;
  margin: 0rem;
}

h2 {
  font-size: 45px;
  font-weight: 300;
  margin: 10px;
}

h2 span {
  font-size: 30px;
}

p {
  font-size: 20px;
} */
