<div class="container-fluid">
  <div class="mat-elevation-z2">
    <mat-card class="newEvent">
      <mat-card-title>Alterar Evento</mat-card-title>
      <form>
        <mat-form-field>
          <input matInput placeholder="Nome" [value]="event?.name" name="name">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Descrição" [value]="event?.description" name="description">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Cep" (change)="getCep($event)" [(ngModel)]="event.address.cep" name="cep">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Logradouro" [value]="event?.address?.logradouro" name="logradouro">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Bairro" [value]="event?.address?.bairro" name="bairro">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Cidade" [value]="event?.address?.localidade" name="localidade">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Uf" [value]="event?.address?.uf" name="uf">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Complemento" [value]="event?.address?.complemento" name="complemento">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Imagem" [value]="event?.image" name="image">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Status" [value]="event?.status" name="status">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Data ínicio" [value]="event?.startDate" name="startDate">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Data fim" [value]="event?.endDate" name="endtDate">
        </mat-form-field>
      </form>
    </mat-card>
  </div>
  <button class="mb-2 btn" mat-raised-button (click)="updateEvent()">
    Atualizar
  </button>

  <button class="mb-2 btn " mat-raised-button (click)="cancel()">
    Cancelar
  </button>
</div>