@media screen and (min-width: 992px) {
  form {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
  }
  
  button {
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    margin-left: 0.2rem;
    color: #EF396E;
  }
  
  .newItem {
    margin-top: 2.5rem;
    background-color: #fff;
  }
  }
  
  @media screen and (max-width: 992px) {
  
    form {
      background-color: #fff;
      display: flex;
      flex-direction: column;
      margin-top: 1.5rem;
    }
    
    button {
      margin-bottom: 1.5rem;
      margin-top: 1.5rem;
      margin-left: 0.2rem;
      color: #EF396E;
    }
    
    .newItem {
      margin-top: 2.5rem;
      background-color: #fff;
    }
  }

  .form-group.required:not(.checkbox) .control-label:after, 
  .form-group.required .text:after { /* change .text in whatever class of the text after the checkbox has */
     content:"*";
     color:red;
  }