<div class="container-fluid">
  <div class="mat-elevation-z2">
    <mat-card class="newItem">
      <mat-card-title class="title-matCard">Novo Item</mat-card-title>
      <form class="d-flex ng-untouched ng-pristine ng-valid">
        <mat-form-field>
          <input matInput placeholder="Nome" [(ngModel)]="item.name" name="name">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Categoria" [(ngModel)]="item.category" name="category">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Descrição" [(ngModel)]="item.description" name="description">
        </mat-form-field>
      </form>
    </mat-card>
  </div>
  <button class="mb-2 btn" mat-raised-button (click)="createItem()">
    Salvar
  </button>

  <button class="mb-2 btn" mat-raised-button (click)="cancel()">
    Cancelar
  </button>
</div>