<div class="container-fluid">
  <div class="mat-elevation-z2">
    <mat-card class="newItem">
      <mat-card-title>Alterar Item</mat-card-title>
      <form>
        <mat-form-field>
          <input matInput placeholder="Nome" [value]="item?.name" name="name">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Categoria" [value]="item?.category" name="category">
        </mat-form-field>
      </form>
    </mat-card>
  </div>
  <button class="mb-2 btn" mat-raised-button (click)="updateItem()">
    Atualizar
  </button>

  <button class="mb-2 btn " mat-raised-button (click)="cancel()">
    Cancelar
  </button>
</div>